<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        <script src="static/js/stuff.js"></script>
    </head>
    <body>
        {{/* Here is our header */}}

        {{/* Set the number of button presses we already have */}}
        {{$theClicks := .NumOClicks}}
        {{template "sendClicks" $theClicks}}
        
        <p>Main application page</p>

        <br>

        <p>The first environment variable is:  {{.EnvVariable1}}</p>

        <p>Here is our magical button. Click it and refresh the page to see how many times it's been clicked.</p>

        <button onclick="buttonAdder()">Increase time clicked</button>

        <p>Wow, people like you have clicked this button {{.NumOClicks}} of times. Life truly is amazing.</p>
        
        {{/* Here is our footer */}}
    </body>
</html>